*{
    margin: 0;padding: 0;
}
body{
    margin: 0 auto;
}
.app {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh; /* Высота блока на всю высоту окна браузера */
}
canvas {

    /*width: 100%;*/
    /*height: 100%;*/
}
.click {
    width: 100%; /* Занимает всю ширину блока "app" */
    max-width: 500px; /* Максимальная ширина кнопки */
    background:green;
    color:white;
    font-size: 30px;
    cursor: pointer;
}
